<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Cadastro</button>
    </form>
</body>
<style>
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    button{
        background-color: blue;
        color: white;
        padding: 2px;
    }
</style>
</html>